.borda{
    border-right: 1px solid #dadada;
    padding-right: 15px;
}

.menu-topo{
    float:right;
    padding-top: 55px;
    text-decoration: none;

}

.z-window{
    border: none !important;
    background-color: white !important;
}

.z-window-content{
    border: none;
    padding: auto;
}

.z-body{
    padding:0px;    
}

.cor-link{
    color: #3e3e3e;
}
.z-row:hover > .z-cell {
    background: transparent !important; border: none !important;;
}

.row-sem-efeito{
    background: transparent !important; border: none !important;}

.z-row .z-row-inner, .z-row .z-cell {
    border-left: 0px solid transparent;
    background: transparent;
    overflow: hidden;
}

.z-row:hover > .z-row-inner, .z-row:hover > .z-cell {
    background: transparent;
    position: relative;
}

.z-row:hover > .z-row-inner > .z-row-content {
    color: #00547a;
    background: transparent;
}

.z-group-inner {
    background: transparent;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    overflow: hidden;
    position: relative;
}

.btn:hover {
  border: 1px solid #81d9ff;
  background-image: none;
}
